body{
    background-image: url(../../imgns/Sal/373\ Sem\ Título_20210409084735.png);
  
}

img{width: 200px;
height: 200px;}

h1{color: white;
text-align: center;
font-size: 30px;}


    
p{
    color: white;
    font-size: 20px;
    font-family: cursive;
    
}

#link{
    font-size: 26px;
}

